In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
import re

In [2]:
df = pd.read_csv('/Users/holleyvoegtle/Desktop/practice_projects_for_github/solo_project_booze/scotch_review2020.csv')
display(df.head())

,id,name,category,review.point,price,currency,description.1.2247.
0,1,"Black Bowmore 42 year old 1964 vintage, 40.5%",Single Malt Scotch,97,4500,$,What impresses me most is how this whisky evol...
1,2,"Bowmore 46 year old (distilled 1964), 42.9%",Single Malt Scotch,97,13500,$,There have been some legendary Bowmores from t...
2,3,"Johnnie Walker Blue Label, 40%",Blended Scotch Whisky,97,225,$,"Magnificently powerful and intense. Caramels, ..."
3,4,"Glenlivet Cellar Collection 1969 vintage, 50.8%",Single Malt Scotch,96,750,$,It’s great that Glenlivet releases whiskies un...
4,5,The Macallan 29 year old 1976 Vintage (Cask #1...,Single Malt Scotch,96,"1,500",$,Classic sherry cask-aged Macallan. Antique amb...

In [8]:
# what the table looks like:
dimensions=df.shape
print("The dataframe has", dimensions[1],"columns and", dimensions[0], "rows")

The dataframe has 7 columns and 2247 rows

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2247 entries, 0 to 2246
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2247 non-null   int64
 1   name                 2247 non-null   object
 2   category             2247 non-null   object
 3   review.point         2247 non-null   int64
 4   price                2247 non-null   object
 5   currency             2247 non-null   object
 6   description.1.2247.  2208 non-null   object
dtypes: int64(2), object(5)
memory usage: 123.0+ KB